/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.site-background {
    background-image: url('/backend/apps/recipes/media/photos/tileable_wood_texture.png');
    -webkit-background-size: cover;
    background-size: cover; 
}

.site-foreground {
    background-color: #dddddd;
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 0px;
}

.recipe-card {
    border-radius: 5px;
    background-color: #ffffff;
    padding: inherit;
    padding-top: 1px;
    margin-top: 30px;
}

.recipe-card-image {
    width: 100%;
}

.recipe-card-description {
    margin-top: 10px;
}