
<div class="col-md-4, col-sm-6">
    <div class="form-group">
        <label>Recipe Name:</label>
        <input class="form-control" ng-model="recipe.name">
    </div>

    <div class="form-group">
        <label>Recipe Directions:</label>
        <textarea class="form-control" ng-model="recipe.directions"></textarea>
    </div>

    <div class="form-group">
        <label>Recipe Description:</label>
        <textarea class="form-control" ng-model="recipe.description"></textarea>
    </div>


    <div class="form-group">
        <label>Ingredient</label>
        <input class="form-control" ng-model="ingredientName">
    </div>
    <button ng-click="addIngredientToRecipe(ingredientName)"
            class="btn btn-xs btn-info glyphicon glyphicon-save">Add Ingredient to Recipe</button>
    <br>

    <ol>
        <li ng-repeat="ingredient in recipe.ingredients">{{ ingredient.name }}
            <i ng-click="removeIngredientFromRecipe(ingredient)"
               class="btn btn-xs btn-danger glyphicon glyphicon-remove"></i>
        </li>
    </ol>



    <button ng-click="addRecipe()"
            class="btn btn-xs btn-success glyphicon glyphicon-save-file">Save Recipe</button>
</div>